.App {
  text-align: center;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.backgroundRect {
  fill: #7a8aa0;
}

.Timeline:hover .backgroundRect {
  fill: #7d8ca2;
}

.Timeline {
  width: 1130px;
  margin: auto;
  margin-top: 20px;
  background-color: #7a8aa0;
  border-radius: 3px 3px 3px 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 1px 3px 5px 0 #38485f, -1px 3px 5px 0 #38485f, 0 3px 3px 0 #38485f;
}

.Timeline:hover {
  background-color: #7d8ca2;
  box-shadow: 3px 5px 7px 0 #304057, -3px 5px 7px 0 #304057, 0 3px 1px 0 #304057;
}

.RelativityGraph {
  margin-left: calc(50% - 390px);
  margin-bottom: 20px;
}

.Timeline div {
  float: left;
  margin-right: 10px;
}

.Timeline table {
  float: right;
  width: 300px;
  margin-top: calc(50% - 450px);
  text-align: left;
  background-color: #000;
  color: #fff;
  font: 12pt menlo;
  box-shadow: 1px 3px 5px 0 #304057, -1px 3px 5px 0 #304057, 0 3px 3px 0 #304057;
}

.Timeline table th {
  text-transform: uppercase;
}

.ModelSelector {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  float: left;
  font: 12pt helvetica;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  text-transform: capitalize;
  font: 12pt helvetica;
}